.body {
    background-color: #E88175;
}

.h1 {
    text-align: center;
    color: #fff;
}

ol,ul {
    list-style-type: none;
 text-align: center; }

.box {
    background-color: white;
    text-align: center;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.list-item {
    color: #E88175;
}